.logo{
    padding: 10px;
    padding-bottom: 60px;
    margin:0 auto;  
}


body,
p{
    font-family:'Roboto Mono', monospace;
    line-height: 1.5;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
}

h2,
.caption{
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: .8em;
    color: #8e8e8e
}

.caption{
    font-style: italic;
    padding-bottom: 40px;
    padding-top: 10px;
}

.green{
    font-size:.9em;
    background-color: #A8FF00;
    padding-left: 10px;
    padding-right: 10px;
}

.page-links{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

a:hover{
    color:#A8FF00;
}

.lebron-img{
    box-shadow: 7px 10px #A8FF00;
}

.chart{
    padding-top: 30px;
    padding-bottom: 30px;
}

.chart-graphic{
    color:white;
    background-color: black;
    font-weight: 500;
    text-decoration:none;
    padding-left: 5px;
    padding-right:5px;
}

.graphics{
    padding-top: 30px;
    padding-bottom:30px;
}

.chart-text{
    font-size: .8em;
    list-style-type: none;
}

.summary,
footer{
    padding-bottom: 40px;
}

footer{
    font-size: .8em;
    border-top-style: dashed;
    border-top-color:#8e8e8e ;
    border-top-width: 2px;
    padding-top: 20px;
}


@media(max-width:775px){
    .logo{
        padding-bottom: 15px;
    }
    body{
        line-height: 2em;
    }
    .green{
        padding: 0;
    }
    .lebron-img{
        padding-top:20px;
        box-shadow: none;
        border-top:3px #A8FF00;
        border-bottom: 3px #A8FF00;
    }
    .graphics{
        border-top: 1px #8e8e8e;

    }
    .chart-text{
        margin-bottom: 20px;
        font-weight: 500;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;

    }

}

@media(max-width: 375px){
    .chart-text{
        padding-left: 30px;
        padding-right: 30px;
    }

}