.video-container{
    position: relative;
}

video{
    height:auto;
    width: 100%;
    background-color: black;
    filter: brightness(75%);
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3em;
}

.desktop{
    color:white;
    width: 46%;
}

.mobile{
    color:#990000;
    width: 90%;
}

@media (max-width:1100px){
    h1{
        width:40%;
        font-size:2.5em;
    }
}

@media (max-width:770px){
    h1{
        font-size:2em;
    }
    .desktop{
        display:none;
    }
}

@media (min-width:770px){
    .mobile{
        display: none;
    }
}


body{
    font-family:'Work Sans', sans-serif;
    font-size: 18px; 

}
   

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

img{
    padding: 15px 0 0 0;
}

.caption{
    font-family:'Roboto Slab', serif;
    font-size: .8em;
    font-style: italic;
}

h1, h2, h3{
    font-family:'Roboto Slab', serif;
    text-align: center;
    padding: 10px 0 0 0;

}

h2{
    font-size: 1.5em;
    color: #990000;
    padding-bottom: 10px;
    font-weight: 600;
}

h3{
    font-weight: 400;
    font-size: 1.2em;

}


.box{
    padding: 10px 20px;
    font-size: .9em;

}


.foundation,
.raisers {
    color: white;
    font-weight: 300;
    background-color: rgba(11, 28, 85, 0.856);
}

.foundation h3,
.raisers h3,
.facts h3{
    font-weight: 600;
}

.facts{
    color: rgba(11, 28, 85, 0.856);
    background-color: rgb(230, 230, 20);

}

a, a:hover{
    color:rgb(230, 230, 20);
}


.num-info{
    text-align: center;
}

.num-info h4{
    color:rgb(230, 230, 20);
    font-size: 4em;
    font-weight: 800;
}

.process{
    text-align: center;
    padding-bottom: 20px;
    color:#990000;
}