

body{
    background-color: rgba(125, 184, 211, 0.849);
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 16px;
}

p{
    font-size: 1.75em;
    line-height: 1.4;
}

main{
    background-color: white;
    padding:20px;
}

h2{
    text-transform: uppercase;
    font-size: 1.5em;
    background-color:rgb(86, 45, 161);
    color: white;
    font-weight:200;
    padding:10px;
}

/* nav */
.custom-nav{
    background-color: rgb(86, 45, 161);
    font-size:1.5em;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom:5px solid 

}
.navbar-toggler{
        margin:0 auto;
        border: 0;
    }

.nav-link{
    text-align: center;
}

/* nav head */
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size:5em;
    text-align:center;
    color:white;
}

@media (max-width:450px){
    h1{
        font-size:3em;
    }
    .custom-nav{
        margin-bottom:0;
    }
}

/* pages */
.content{
    padding:20px;
}


.social a{
    color: rgb(86, 45, 161);
    padding-right:10px;
}


/* clips */
.btn{
    color: rgba(125, 184, 211, 0.849);
    background: black;
    text-transform: uppercase;
    
}
.card-body{
    text-align: center;
}

.card-title{
    font-size: 1.2em;
}

.card{
    margin-bottom:10px;
}

/* resume */
.resume h4{
    font-size:1.5em;
    text-transform: uppercase;
    
}

.resume h3{
    color:rgb(86, 45, 161);
    font-size:1.75em;
    text-transform:uppercase;
}


.resume .loc{
    font-size: 1em;
    font-weight:400;
    text-transform:uppercase; 
    line-height:0.5;  
    color: rgba(125, 184, 211, 0.849);
}

.resume .date{
    color: rgba(125, 184, 211, 0.849);
    font-size: 1.2em;
    font-weight:400;
    line-height: .5;
    


}

.resume .desc{
    font-size: 1.5em;
    font-weight: 300;
    line-height:1;
    padding-bottom: 20px;
    border-top:2px solid rgb(86, 45, 161);
    padding-top: 10px; 
}
.resume{
    padding:20px;
}



/* contact */

.info{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;   
    color:rgba(125, 184, 211, 0.849);
    border-bottom: 2px solid rgb(86, 45, 161);
    display: inline;
}